// bootstrap colors

@use "sass:color";

@use "kue-color";

$white:    white;
$gray-100: color.adjust(kue-color.$kue-color-light-gray, $lightness: 50%, $space: hsl);
$gray-200: color.adjust(kue-color.$kue-color-light-gray, $lightness: 20%, $space: hsl);
$gray-300: color.adjust(kue-color.$kue-color-light-gray, $lightness: 10%, $space: hsl);
$gray-400: kue-color.$kue-color-light-gray;
$gray-500: color.mix(kue-color.$kue-color-light-gray, kue-color.$kue-color-gray);
$gray-600: kue-color.$kue-color-gray;
$gray-700: color.mix(kue-color.$kue-color-gray, kue-color.$kue-color-black, $weight: 60%);
$gray-800: color.mix(kue-color.$kue-color-gray, kue-color.$kue-color-black, $weight: 30%);
$gray-900: color.mix(kue-color.$kue-color-gray, kue-color.$kue-color-black, $weight: 10%);
$black:    kue-color.$kue-color-black;

$grays: (100: $gray-100, 200: $gray-200, 300: $gray-300, 400: $gray-400,
         500: $gray-500, 600: $gray-600, 700: $gray-700, 800: $gray-800,
         900: $gray-900);

$blue:   kue-color.$kue-color-blue;
$indigo: color.adjust(kue-color.$kue-color-purple, $hue: -60deg, $space: hsl);
$purple: kue-color.$kue-color-purple;
$pink:   color.adjust(kue-color.$kue-color-green, $hue: -120deg, $space: hsl);
$red:    color.adjust(kue-color.$kue-color-blue, $hue: 120deg, $space: hsl);
$orange: color.adjust(kue-color.$kue-color-green, $hue: -60deg, $space: hsl);
$yellow: color.complement(kue-color.$kue-color-blue);
$green:  kue-color.$kue-color-green;
$teal:   color.adjust(kue-color.$kue-color-blue, $hue: -60deg, $space: hsl);
$cyan:   color.adjust(kue-color.$kue-color-green, $hue: 120deg, $space: hsl);

$colors: ("blue": $blue, "indigo": $indigo, "purple": $purple, "pink": $pink,
          "red": $red, "orange": $orange, "yellow": $yellow, "green": $green,
          "teal": $teal, "cyan": $cyan, "white": $white, "gray": $gray-600,
          "gray-dark": $gray-800);

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;
$theme-colors: (primary: $blue, secondary: $gray-600, success: $green,
                info: $cyan, warning: $yellow, danger: $red, light: $gray-100,
                dark: $gray-800);
