// Kyoto University of Education Symbol Color

// KUE PURPLE
//   CMYK:60 100 0 0
//   RGB: 135 24 157
//   PANTONE 2602 C
//   pdf RGB: 129 41 144
$kue-color-purple: rgb(129, 41, 144);

// KUE BLUE
//   DIC: 143
//   4Cs: C80%+M60%
//   pdf RGB: 62 102 176
$kue-color-blue: rgb(62, 102, 176);

// KUE GREEN
//   DIC: 90
//   4Cs: Y100%+C40%
//   pdf RGB: 178 211 62
$kue-color-green: rgb(178, 211, 62);

// KUE BLACK
// Sumi 100%
$kue-color-black: rgb(35, 31, 32);

// KUE GRAY
// Sumi 50%
$kue-color-gray: rgb(147, 149, 152);

// KUE LIGHT GRAY
$kue-color-light-gray: rgb(188, 190, 192);
