:root {
  font-family: "BIZ UDPGothic", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #b7b7b7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  /* padding: 2px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.msg {
  overflow-y: scroll;
  /* width: 100%; */
  height: 505px;
  padding: 10px;
  background-color: #1f1f1f;
  border-top: 2px solid #88888888;
  border-left: 2px solid #88888888;
  color: #d7871d;
  margin: 5px;
  white-space: pre-wrap;
  text-align: start;
}

button#close {
  margin: 5px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  background-color: #313131;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
}

button:hover {
  border-color: #396cd8;
  background-color: #e8e8e8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}
